.chat-header{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: row;
    flex-direction: row;

    padding: 15px;
    background: #404040;
    border-bottom: 1px solid #666666;
}

.chat-header img{
    border-radius: 100%;
    
    height: 100px;
    width: 100px;

    margin-right: 20px;
}

.chat-header .user-info{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: column;
    flex-direction: column;

    margin: auto 0;
}