.input-field{
    z-index: 1000;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: #404040;
}

.input-field form{
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-direction: row;
    flex-direction: row;

    width: 100%;
}

.input-field input{
    display: block;
    width: 100%;
    background: #666666;
    color: white;
    border: 1px solid #aaaaaa;
    padding: 12px;
    font-size: 15px;
    border-radius: 24px;
    margin-right: 20px;
}

.input-field input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

.input-field input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.input-field input::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.input-field button{
    cursor: pointer;
    border-radius: 100%;
    border: none;
    background: #fafafa;
    color: #272727;
    height: 44px;
    width: 44px;
}